/* Fonts */
@font-face {
    font-family: "PT Sans";
    src: url("../fonts/PTSans.woff") format("woff"),
    url("../fonts/PTSans.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "PT Sans";
    src: url("../fonts/PTSans-Bold.woff") format("woff"),
    url("../fonts/PTSans-Bold.woff2") format("woff2");
    font-weight: 700;
    font-style: normal;
}


/* Variables */

:root {
    --basic-black: #000000; 
    --basic-light: #333333; /*цвет текста*/
    --accent-light: #81B3D2; /*цвет кнопок,иконок*/
    --accent-dark: #766357; /*кнопки, активная страница*/
    --index-grey: #EEEEEE; /*фон блока на главной странице*/
    --neutral-grey: #F2F2F2; /*формы, фон рейтинга в каталоге*/
    --form-gray: #A9A9A9; /*иконки и кнопки +/- в форме*/
    --arrow-grey: #CACACA; /*стрелки в каталоге*/
    --rating-gray: #666666; /*текст рейтинг*/
    --filter-blocked: #6A6A6A; /*заблокированный фильтр*/
    --slider-grey: #ABABAB; /*точка в ползунке в фильтре*/
    --hover-dark: #604E43; /*темная кнопка наведение*/
    --click-dark: #503E33; /*темная кнопка нажатие*/
    --hover-light: #669EC0; /*светлая кнопка наведение*/
    --click-light: #5496BD; /*светлая кнопка нажатие*/
    --hover-field: #EBEBEB; /*поле ввода наведение*/
    --field-selected: #E5E5E5; /*поле вода выбрано*/
    --click-logo: #BDBBBC; /*лого академии нажатие*/
    --basic-white: #FFFFFF;
    --black-opacity: rgba(0, 0, 0, 0.3);
}


/* Global */

body {
    min-width: 1200px;
    margin: 0;
    padding: 0;
    font-family: PT Sans, Arial, sans-serif;
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
    text-transform: uppercase;
    color: var(--basic-light);

    min-height: 100%;
    display: grid;
    grid-template-rows: min-content 1fr min-content;
    align-content: start;
}

a {
    text-decoration: none;
  }
  
img {
    max-width: 100%;
    height: auto;
}


/* Main header */

.main-header {
    outline: 5px solid rgba(0, 255, 0, 0.7);
    outline-offset: -5px;
    height: 56px;
  }

/* Main navigation */

.main-navigation {
    line-height: 26px;
    font-weight: 700;
    display: grid;
    margin: 0 auto;
    padding: 0 10px;
}

.main-header {
    background-color: var(--basic-white);
}

.site-navigation {
    list-style: none;
    outline: 5px solid rgba(0, 255, 255, 0.3);
    outline-offset: -5px;
    margin: 0;
    padding: 0;
    display: flex;
    width: 1200px;
}

.site-navigation-item {
    width: 228px;
    margin-left: 72px;
    text-align: left;
    z-index: 1;
    margin-top: 15px;
}

.site-navigation li:nth-child(4n),
.site-navigation li:nth-child(3n) {
    margin-left: 0;
    margin-right: 72px;
    text-align: right;
}

/* Container */

.container {
    width: 1200px;
    margin: 0 auto;
}

/* Logo */

.main-header-logo {
    position: absolute;
    left: 0px;
    right: 0px;
    width: 100%;
    text-align: center;
}


/* Grid for pages */

.filters-form {
    outline: 5px solid rgba(255, 0, 0, 0.7);
    outline-offset: -5px;
    display: grid;
    grid-template-columns: 128px 400px 527px;
    margin-left: 72px;
}

.sorting-filters {
    display: flex;
    align-items: center;
    margin-left: 72px;
}

.search-results-item {
    outline: 5px solid rgba(255, 0, 0, 0.7);
    outline-offset: -5px;
    display: grid;
    grid-template-columns: 200px 1fr;
    padding-top: 30px;
    padding-bottom: 30px;
    margin-left: 72px;
}

/* Grid */

.page {
    height: 100%;
}

/* User navigation */

.site-navigation-link {
    color: var(--basic-black);
}

.site-navigation-link:hover,
.site-navigation-link:focus {
    color: var(--accent-light);
}

.site-navigation-link:active {
    color: var(--black-opacity);
}

.site-navigation-link-current {
    color: var(--accent-dark);
}


/* Main display */

.main-picture {
    background-image: url(../img/background-photo.jpg);
    background-color: var(--accent-light);
    background-repeat: no-repeat;
    text-align: center;
    margin-bottom: 42.5px;
    padding-top: 63px;
}

.main-text {
    margin-bottom: 51px;
}

.container-caption {
    font-size: 21px;
    font-weight: 700;
    line-height: 26px;
    text-align: center;
    color: var(--basic-black);
    margin-top: 42.5px;
}

.container-text {
    line-height: 26px;
    text-align: center;
}


/* Features */

.features {
    margin-bottom: 58px;
    outline: 5px solid rgba(255, 0, 0 , 0.3);
    margin-top: 51px;
}

.features-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    list-style: none;
    margin: 0;
    padding: 0;
}

.feature-city,
.feature-bridge {
    grid-column: 1/-1;
}

.feature-item {
    text-align: center;
    outline: 5px solid rgba(0, 255, 255 , 0.3);
    outline-offset: -5px;
}

.feature-city,
.feature-bridge {
    display: flex;  
}

.feature-text {
    margin: 0 10px;
}

.feature-item:not(.feature-item-background-accent) {
    padding-bottom: 50px;
}

.feature-caption {
    font-size: 21px;
    font-weight: 700;
    line-height: 21px;
    color: var(--basic-black);
    padding-top: 47px;
}

.feature-item-background-accent {
    background-color: var(--accent-light);
    color: var(--basic-white);
}

.feature-caption-accent {
    color: var(--basic-white);
}

.feature-item-background-light {
    background-color: var(--index-grey);
}


/* Search */

.search {
    text-align: center;
}

.search-lead {
    font-size: 30px;
    line-height: 24px;
    font-weight: 700;
    color: var(--basic-black);
}

.button {
    font-size: 26px;
    line-height: 26px;
    text-align: center;
    color: var(--basic-white);
    vertical-align: middle;
    text-transform: uppercase;
    background-color: var(--accent-dark);
    border: none;
}

.button:hover,
.button:focus {
    background-color: var(--hover-dark);
}

.button:active {
    background-color: var(--click-dark);
}


/* Filters */

.filters {
    color: var(--basic-white);
    background-color: var(--filter-blocked);
    background-image: url(../img/background-catalog.jpg);
    margin-bottom: 29px;
}

.services-list,
.housing-list {
    list-style: none;
}

.button-form {
    color: var(--basic-white);
    border: solid 2px var(--basic-white);
    box-sizing: border-box;
    text-transform: uppercase;
    text-align: center;
    vertical-align: middle;
}

.button-form:hover {
    color: var(--basic-black);
    background-color: var(--basic-white);

}


/* Sorting */

.sorting-caption {
    color: var(--basic-black);
    font-size: 21px;
    font-weight: 700;
    line-height: 26px;
}

.sorting-text {
    color: var(--basic-black);
    font-size: 12px;
    line-height: 18px;
    margin-left: 46px;
}

.sorting-list {
    list-style: none;
    margin-left: 40px;
    display: flex;
}

.sorting-item {
    margin-right: 32px;
}

.sorting-link {
    font-size: 12px;
    line-height: 18px;
    color: var(--black-opacity);
}

.sorting-link-current {
    color: var(--accent-light);
}


/* Search-results */

.search-results-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.sorting-link:hover {
    color: var(--accent-light);
}

.sorting-link:active {
    color: var(--basic-black);
}

.hotel-caption {
    font-size: 21px;
    font-weight: bold;
    line-height: 26px;
    margin: 0;
    padding: 0;
}

.button-detail {
    color: var(--basic-white);
    background-color: var(--accent-light);
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
    border: none;
    vertical-align: middle;

}

.button-detail:hover {
    background-color: var(--hover-light);
}

.button-detail:active {
    background-color: var(--click-light);
}

.button-booking {
    color: var(--basic-white);
    background-color: var(--accent-dark);
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
    border: none;
    vertical-align: middle;
}

.button-booking:hover {
    background-color: var(--hover-dark);
}

.button-booking:active {
    background-color: var(--click-dark);
}

/* Main footer */

.main-footer {
    color: var(--basic-black);
    outline: 5px solid rgba(255, 0, 0, 0.7);
    outline-offset: -5px;
    padding: 23px 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.main-footer-contacts {
    outline: 5px solid rgba(0, 255, 0, 0.7);
    text-align: center;
    margin-left: 72px;
}

.footer-copyright {
    outline: 5px solid rgba(255, 0, 255, 0.7);
    text-align: center;
    margin-right: 72px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contacts-text {
    font-size: 21px;
    line-height: 26px;
    font-weight: 700;
}

.main-footer-social {
    text-align: center;
    outline: 5px solid rgba(0, 255, 255, 0.7);
}

.social-list {
    list-style: none;
    display: flex;
    justify-content: center;
    justify-content: center;
    align-items: center;
}

.main-footer-text {
    line-height: 26px;
    padding-right: 8px;
}

.social-button {
    background-color: var(--accent-light);
  }

.social-button:hover,
.social-button:focus {
    background-color: var(--hover-light);
}

.social-button:active {
    background-color: var(--click-light);
}