/* Variables */

:root {
    --basic-black: #000000; 
    --basic-light: #333333; /*цвет текста*/
    --accent-light: #81B3D2; /*цвет кнопок,иконок*/
    --accent-dark: #766357; /*кнопки, активная страница*/
    --index-grey: #EEEEEE; /*фон блока на главной странице*/
    --neutral-grey: #F2F2F2; /*формы, фон рейтинга в каталоге*/
    --form-gray: #A9A9A9; /*иконки и кнопки +/- в форме*/
    --arrow-grey: #CACACA; /*стрелки в каталоге*/
    --rating-gray: #666666; /*текст рейтинг*/
    --filter-blocked: #6A6A6A; /*заблокированный фильтр*/
    --slider-grey: #ABABAB; /*точка в ползунке в фильтре*/
    --hover-dark: #604E43; /*темная кнопка наведение*/
    --click-dark: #503E33; /*темная кнопка нажатие*/
    --hover-light: #669EC0; /*светлая кнопка наведение*/
    --click-light: #5496BD; /*светлая кнопка нажатие*/
    --hover-field: #EBEBEB; /*поле ввода наведение*/
    --field-selected: #E5E5E5; /*поле вода выбрано*/
    --click-logo: #BDBBBC; /*лого академии нажатие*/
    --basic-white: #FFFFFF;
    --black-opacity: rgba(0, 0, 0, 0.3);
}


/* Global */

body {
    min-width: 960px;
    margin: 0;
    padding: 0;
    font-family: PT Sans, Arial, sans-serif;
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
    text-transform: uppercase;
}

a {
    text-decoration: none;
  }
  
img {
    max-width: 100%;
    height: auto;
}


/* Main navigation */

.main-navigation {
    line-height: 26px;
    font-weight: 700;
}

.site-navigation {
    list-style: none;
}


/* User navigation */

.site-navigation a {
    color: var(--basic-black);
}

.site-navigation a:hover,
.site-navigation a:focus {
    color: var(--accent-light);
}

.site-navigation a:active {
    color: var(--black-opacity);
s}


/* Main display */

.container h1 {
    font-size: 21px;
    font-weight: 700;
    line-height: 26px;
    text-align: center;
}

.container p {
    line-height: 26px;
    color: var(--basic-light);
    text-align: center;
}


/* Features */

.features-list {
    list-style: none;
}

.feature-item {
    text-align: center;
}

.feature-item h3 {
    font-size: 21px;
    font-weight: 700;
    line-height: 21px;
}

.feature-item p {
    color: var(--basic-light);
}

.features-list li:nth-child(1) p,
.features-list li:nth-child(5) p,
.features-list li:nth-child(1) h3,
.features-list li:nth-child(5) h3 {
    color: var(--basic-white);
}

.features-list li:nth-child(1),
.features-list li:nth-child(5) {
    background-color: var(--accent-light);
}

.features-list li:nth-child(6),
.features-list li:nth-child(7),
.features-list li:nth-child(8) {
    background-color: var(--index-grey);
}


/* Search */

.search {
    text-align: center;
}

.bold {
    font-size: 30px;
    line-height: 24px;
    font-weight: 700;
}

.search p {
    color: var(--basic-light);
}

.button {
    font-size: 26px;
    line-height: 26px;
    text-align: center;
    color: var(--basic-white);
    vertical-align: middle;
    text-transform: uppercase;
    background-color: var(--accent-dark);
    border: none;
}

.button:hover,
.button:focus {
    background-color: var(--hover-dark);
}

.button:active {
    background-color: var(--click-dark);
}


/* Main footer */

.main-footer {
    color: var(--basic-black);
    background-color: var(--basic-white);
}

.main-footer-contacts p {
    font-size: 21px;
    line-height: 26px;
    font-weight: 700;
}

.main-footer-social {
    text-align: center;
}

.main-footer-social ul {
    list-style: none;
}

.main-footer p {
    line-height: 26px;
}

.social-button {
    background-color: var(--accent-light);
  }

.social-button:hover,
.social-button:focus {
    background-color: var(--hover-light);
}

.social-button:active {
    background-attachment: var(--click-light);
}
